<div id="modal-wrapper" (click)="closeModal()">
  <div id="modal">
    <header id="modal-header"
      (click)="stopPropagation($event)"
      [ngStyle]="
        {backgroundImage:'url('+ filterImgUrl(serie.backgroundImage) +')'}
      "
    >
      <div id="close-div">
        <svg (click)="closeModal()" id="close" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
        </svg>
      </div>

      <div id="title-img">
        <img [src]="serie.titleImage">
      </div>

      <button id="watch-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
        Assistir
      </button>
    </header>
    <main>
      <article id="desc">
        <ul>
          <li *ngIf="serie.relevance" id="relevance">
            {{serie.relevance}}% relevante
          </li>
          <li id="year">
            {{serie.year}}
          </li>
          <li id="age">
            {{serie.minAge}}
          </li>
          <li id="time" *ngIf="serie.time">
            {{timeConvert(serie.time)}}
          </li>
        </ul>

        <p>
          {{serie.description}}
        </p>
      </article>
      <article id="data">
        <ul>
          <li>
            <span>Elenco:</span>
              {{joinData(serie.cast)}}
          </li>
          <li>
            <span>Gêneros:</span>
            {{joinData(serie.genre)}}
          </li>
          <li>
            <span>Cenas e momentos:</span>
            {{joinData(serie.scenes)}}
          </li>
        </ul>
      </article>
    </main>
  </div>
</div>
