@media only screen and (max-width: 768px) {
  :host {
    font-size: 10px;
  }

  #modal-wrapper {
    padding-top: 40vw !important;
  }

  #age {
    width: 20px;
    height: 20px;
  }

  #close {
    display: none;
  }

  header {
    background: #141414 !important;
  }

  #desc {
    margin-right: 20px;
  }

  #data ul {
    padding: 0;
  }
}

#modal-wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999999;
  backdrop-filter: brightness(20%);
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 6vw;
}

#modal {
  width: 80vw;
}

#modal-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: top;
  padding-left: 5vw;
  padding-bottom: 2vw;
}

#close-div {
  display: flex;
  justify-content: end;
  padding-right: 3vw;
  padding-top: 2vw;
}

#close {
  background-color: white;
  border-radius: 100%;
  height: 3vw;
  width: 3vw;
  border: #141414 solid 2px;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

#title-img {
  width: 45vw;
  margin-bottom: 4vw;
}

#watch-btn {
  border: none;
  background: white;
  color: black;
  border-radius: 6px;
  padding: 1vw 1.7vw;
}

#watch-btn:hover {
  background: #ffffff91;
}

main {
  display: flex;
  padding-top: 2vw;
  background-color: #141414;
  padding-left: 5vw;
  padding-bottom: 2vw;
}

#desc {
  color: white;
  margin-right: 5vw;
}

#desc ul {
  font-size: 1.2em;
  padding: 0;
  display: flex;
  list-style: none;
  font-weight: 600;
}

#desc li {
  margin-right: 2vw;
}

#relevance {
  color: #46d369;
}

#age {
  background: #ebc500;
  color: black;
  border-radius: 7px;
  padding-top: 5px;
  padding: 0 5px;
}

#desc p {
  font-size: 1em;
  max-width: 35vw;
}

#data ul {
  list-style: none;
  color: white;
}

#data li {
  margin-bottom: 1.5vw;
}

#data span {
  color: grey;
}
