<header>
    <div id="netflix-logo">
      <img src="../../../assets/images/netflix-logo.png" alt="Netflix Logo">
    </div>
    <div id="header-content">
      <h1>Filmes, séries e muito mais. Sem Limites.</h1>
      <h3>Assista onde quiser. Cancele quando quiser.</h3>
      <h4>Pronto para assistir? Clique no botão abaixo para ser redirecionado para a tela de login.</h4>
      <div id="enter-btn">
        <app-enter-button (click)="navigateToUsers()"></app-enter-button>
      </div>
    </div>
</header>
<main>
  <article>
    <div class="article-text">
      <h2>Aproveite na TV.</h2>
      <h4>Assita em Smart TVs, Playstation, Xbox, Chromecast, Apple TV, aparelhos de Blu-ray e outros dispositivos.</h4>
    </div>
    <div class="article-img">
      <img src="../../../assets/images/tv-frame.png" alt="TV">
    </div>
  </article>
  <article class="invert-text">
    <div class="article-img">
      <img src="../../../assets/images/cellphone.png" alt="TV">
    </div>
    <div class="article-text">
      <h2>Baixe séries para assistir offline.</h2>
      <h4>Salve seus títulos favoritos e sempre tenha algo para assistir.</h4>
    </div>
  </article>
  <article>
    <div class="article-text">
      <h2>Assista quando quiser.</h2>
      <h4>Assista no celular, tablet, Smart TV ou notebook sem pagar a mais por isso.</h4>
    </div>
    <div class="article-img">
      <img src="../../../assets/images/devices.png" alt="">
    </div>
  </article>
  <article class="invert-text">
    <div class="article-img">
      <img src="../../../assets/images/kids.png" alt="">
    </div>
    <div class="article-text">
      <h2>Crie perfis para crianças.</h2>
    </div>
  </article>
</main>
<app-footer [links]="footerLinks"></app-footer>
