button {
  width: 100%;
  height: 100%;
  border: none;
  background: #e50914;
  color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background: #fd000d;
}
