<div class="banner-area">
  <header>
    <nav role="navigation">
      <div id="mobile-wrap">
        <div id="hamburguer-menu">
          <app-hamburguer-menu></app-hamburguer-menu>
        </div>
        <div id="logo">
          <a><img src="../../../assets/images/netflix-logo.png" alt="Logo"></a>
        </div>
      </div>
      <ul>
        <li id="active-link"><a>Início</a></li>
        <li><a>Séries</a></li>
        <li><a>Filmes</a></li>
        <li><a>Bombando</a></li>
        <li><a>Minha lista</a></li>
      </ul>
      <div id="search-box">
        <input type="search" placeholder="Buscar">
      </div>
    </nav>
  </header>

  <main>
    <section id="highlighted-series">
      <div id="title-img">
        <img src="https://occ-0-782-185.1.nflxso.net/dnm/api/v6/tx1O544a9T7n8Z_G12qaboulQQE/AAAABZDps0iIQpLs8QwPcuCmNKY5eFanBALbIyNcXuMdxLWkA7oZyVS5Q-lkds90XnxxuKLTcOj8BiDADleGQm2D93RfdgEQfcZyTBZqBjpYK42_Obb7FmAz4WGrO_uJAKF6AVIbrrh-_D-uFRySpLgyNP5PkO39dF3n5c6P41UEd5BO.webp?r=eb2" alt="Title Image">
      </div>

      <div class="top-10">
        <div id="top-10-icon">
          <span>TOP</span>
          <span>10</span>
        </div>
        <h1>Brasil: top 2 de hoje</h1>
      </div>

      <p>
        Um agente do FBI persegue o ladrão de arte mais procurado do mundo. Ele só não esperava ter seu alvo como parceiro para prender uma bandida muito esperta.
      </p>

      <div class="btns-box">
        <button id="watch-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
          </svg>
          Assistir
        </button>
        <button id="more-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
          Mais Informações
        </button>
      </div>
    </section>
    <!-- cards das series irão dentro da section abaixo -->
    <section>

    </section>
  </main>
</div>
