@media only screen and (max-width: 768px) {
  :host {
    font-size: 12px;
  }

  .card-image {
    width: 65vw !important;
  }
}

#wrapper {
  padding-left: 5vw;
  padding-bottom: 70px;
}

h1 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: 800;
}

ul {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

ul::-webkit-scrollbar {
  height: 7px;
}

/* Track */
ul::-webkit-scrollbar-track {
  background: #141414;
}

/* Handle */
ul::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

li {
  margin-bottom: 8px;
  margin-right: 2vw;
  margin-right: min(15px);
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.card-image {
  width: 20.5vw;
}
